*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}

.navsection{
  border:1px solid black;
  display:flex;
  justify-content: space-between;
  color:white;
  background-color: black;
}


.prosection{
  display: flex;

}

.imgbox{
  width:80%;
}

.proImage{
  width:100%;
}