/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  
}

/* App container */
.app {
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(142, 116, 116);
  padding: 1rem 2.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  gap: 2rem;
  width:100%;
}

/* Logo section */
.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #981b1b;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width:200px;
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  background-color: black;
  width: 100%;
  max-width: 500px;
  margin-left: 2rem;
  flex: 1;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  flex: 1;
  font-size: 1rem;
  background-color: transparent;
}

.search-btn {
  background-color: black;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  /* color: #444; */
    color: #e7dcdc;

}

/* Header Right Section */
.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-btn {
  background-color: black;
  border: none;
  padding: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  color: #e7dcdc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
}

/* Auth Buttons */
.auth-buttons {
  display: flex;
  gap: 0.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.95rem;
}

.sign-in {
  background-color: black;
  border: 2px solid #992727;
  color: white;
}

.register {
 
background-color: black;
  border: 2px solid #992727;
  color: white;}

/* Main content */
.main-content {
  padding: 3rem 2rem;
  text-align: center;
  margin-left: 40px;
  margin-top: 200px;
}
